<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml"
      xmlns:v-model.trim="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Vue的入门</title>
  <style>
    table,tr,td,th{
      border: transparent;
      width: 500px;
      text-align: center;
      margin: auto;
    }
    div{
      text-align: center;
    }
  </style>

</head>
<body>
<!--引入vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="vue01">
  <div>
  <table id="tb01" cellspacing="0" style="border: 1px solid black;">
    <tr >
      <th>序号</th>
      <th >姓名</th>
      <th >年龄</th>
      <th >学科</th>
      <th >邮箱</th>
      <th >操作</th>
    </tr>
    <!--
    这里使用if完成  - - -TODO
    <tr>
        <td colspan="6"> - - - - - 请先添加数据 - - - - - </td>
    </tr>-->
    <tr v-for="(element,index) in userList":value="index">
      <td>{{index+1}}</td>
      <td>{{element.name}}</td>
      <td>{{element.age}}</td>
      <td>{{element.work}}</td>
      <td>{{element.email}}</td>
      <td>
        <input type="button" value="删 除" v-on:click="deleteUser($event,index)" />
      </td>
    </tr>
  </table>
  </div>
  <br />
  <div >
    <form action="www.baidu.com" method="post">
      姓名：<input type="text" name="userName"
                v-model:value="user.name" v-on:blur="checkUserName"/>
      <span v-bind:style="nameStyle" >{{usernameErrorMessage}}</span><br/>
      年龄：<input type="text" name="age" v-on:blur="checkAge"
                v-model:value="user.age"  />
      <span v-bind:style="ageStyle">{{ageErrorMessage}}</span><br/>
      学科：<input type="text" name="work" v-on:blur="checkWork"
                v-model:value="user.work"  />
      <span v-bind:style="workStyle">{{workErrorMessage}}</span><br/>
      邮箱：<input type="text" name="email" v-on:blur="checkEmail"
                v-model:value="user.email" />
      <span v-bind:style="emailStyle" >{{emailErrorMessage}}</span><br/><br/>
      <input id="addUser" type="button" value=" 添加用户 " v-on:click="addUser" />&nbsp;&nbsp;
      <input id="deleteUserList" type="button" value=" 清空列表 " v-on:click="deleteUserList" />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <p><span v-bind:style="ErrorMessageSpanStyle">{{ErrorMessage}}</span></p>
    </form>
  </div>
</div>

<script>
  var vue = new Vue({
    el:"#vue01",
    data:{
      "userList":[
        {"name":"张三","age":20,"work":"JavaWeb","email":"zhangsan@qq.com"},
        {"name":"李四","age":25,"work":"PHP","email":"lisi@qq.com"},
        {"name":"小红","age":22,"work":"Java","email":"jack@qq.com"}
      ],
      user:{},
      nameStyle:{color:"gray"},
      ageStyle:{color:"gray"},
      workStyle:{color:"gray"},
      emailStyle:{color:"gray"},
      usernameErrorMessage:" * 请输入您的姓名",
      ageErrorMessage:" * 请输入您的年龄",
      workErrorMessage:" * 请输入您的学科",
      emailErrorMessage:" * 请输入您的邮箱",
      ErrorMessage:"",
      ErrorMessageSpanStyle:""
    },
    "methods":{
      "addUser":function(){
        //全部符合校验的规则，才能添加到表格中
        if(this.checkUserName()&&this.checkAge()&&this.checkWork()&&this.checkEmail()){
          this.userList.push(this.user);//将元素添加到数组的最后面
          this.user = {};
        }else{
          return;
        }
        event.preventDefault();
      },
      "deleteUser":function($event,index){
        this.userList.splice(index, 1);//splice(index,len,[item]) ：该方法会改变原始数组。
      },
      "deleteUserList":function($event,index){
        this.userList = [];
      },
      "checkUserName":function(){
        //校验姓名是否符合规则
        //1.姓名的正则表达式规则
        //var usernameRegExp = /^[A-Za-z0-9_]{5,8}$/; //必须是5-8位的数字、字母或者下划线
        var usernameRegExp = /^[\u4e00-\u9fa5]{2,4}$/; //
        //2.使用正则表达式校验姓名
        if (!usernameRegExp.test(this.user.name)) {
          //校验不通过，显示提示信息
          this.ErrorMessageSpanStyle={color: "red", "font-size":"20px"};
          //this.ErrorMessage = "姓名必须是5-8位的数字、字母或者下划线";
          this.ErrorMessage = "姓名只能是中文，不能有其它符号";
        }else{
          this.ErrorMessage = "";
          this.usernameErrorMessage ="姓名格式正确通过";
          return true;
        }
      },
      "checkAge":function(){
        //1.年龄的正则表达式规则
        var ageRegExp = /^(?:[1-9][0-9]?|1[01][0-9]|120)$/;
        //2.使用正则表达式校验年龄
        if (!ageRegExp.test(this.user.age)) {
          //校验不通过，显示提示信息
          this.ErrorMessageSpanStyle={color: "red", "font-size":"20px"};
          this.ErrorMessage = "年龄的范围必须在1-120之间";
        }else{
          this.ErrorMessage = "";
          this.ageErrorMessage ="年龄格式正确通过";
          return true;
        }
      },
      "checkWork":function(){
        if (this.user.work==""||this.user.work==null) {
          //校验不通过，显示提示信息
          this.ErrorMessageSpanStyle={color: "red", "font-size":"20px"};
          this.ErrorMessage = "学科不能为空，请填写内容";
        }else{
          this.ErrorMessage = "";
          this.workErrorMessage ="学科格式正确通过";
          return true;
        }
      },
      "checkEmail":function(){
        //校验邮箱是否符合规则
        //1.邮箱的正则表达式规则
        var emailRegExp = /^[a-zA-Z0-9_\.-]+@([a-zA-Z0-9-]+[\.]{1})+[a-zA-Z]+$/;
        //2.使用正则表达式校验邮箱
        if (!emailRegExp.test(this.user.email)) {
          //校验不通过，显示提示信息
          this.ErrorMessageSpanStyle={color: "red", "font-size":"20px"};
          this.ErrorMessage = "邮箱格式错误，请重新输入";
        }else{
          this.ErrorMessage = "";
          this.emailErrorMessage ="邮箱格式正确通过";
          return true;
        }
      }
    }
  });
</script>
</body>
</html>